{% extends 'base/base.html' %}

{% block head %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
{% endblock head %}

{% block body %}
    <table class="table table-striped">
        <thead>
            <tr>
              <th scope="col">Наименование товара</th>
              <th scope="col">Количество</th>
            </tr>
        </thead>
        {% for products in prod_in_cart %}
            <tr>
                <td>{{ products.book }}</td>
                <td>{{ products.quantity }}</td>
                <td>
                <form action="{% url 'cart:update' products.pk %}">
                <button type="submit" class="btn btn-primary">
                <i class="fas fa-edit"></i>
                Редактировать
                </button>
                </form>
                </td>
                <td>
                <form action="{% url 'cart:delete' products.pk %}">
                <button type="submit" class="btn btn-danger">
                <i class="fas fa-edit"></i>
                Удалить из корзины
                </button>
                </form>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock body %}