{% extends 'base/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
{% endblock head %}

{% block body %}
  <div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
        <th scope="col">Наименование товара</th>
        <th scope="col">Количество</th>
        <th scope="col">Стоимость</th>
        </tr>
      </thead>
      <tbody>
        {% for products in prod_in_cart %}
          <tr>
            <td>{{ products.book }}</td>
            <td>{{ products.quantity }}</td>
            <td>{{ products.book.price}} BYN</td>
            <td>
              <form action="{% url 'cart:update' products.pk %}">
                <button type="submit" class="btn btn-primary">
                <i class="fas fa-edit"></i>
                Редактировать
                </button>
              </form>
            </td>
            <td>
              <form action="{% url 'cart:delete' products.pk %}">
                <button type="submit" class="btn btn-danger">
                <i class="fas fa-edit"></i>
                Удалить из корзины
                </button>
              </form>
            </td>
          </tr>
        {% endfor %}

            <tr>
            <th scope="row" colspan="1">Итого:</th>
            <th scope="row" colspan="1">{{ product_count }} шт.</th>
            <th scope="row" colspan="3">{{ total_price }} BYN</th>
            </tr>

      </tbody>
    </table>
  {% if not empty %}
      <form action="{% url 'orders:create-order' %}" method="POST" class="card-body">
                    {% csrf_token %}
                    <h5 class="card-title">* - обязательны для заполнения</h5>
                    <p class="card-text">{{ order_form|crispy }}</p>
                    <button class="btn btn-danger btn-block" type="submit">Оформить заказ</button>
                </form>
  {% endif %}
  {{ empty }}
  </div>

{% endblock body %}