{% extends 'base/base.html' %}
{% load static %}

{# вставить переменную #}
{% block title %}
    <title>Информация о {{ object.name }}</title>
{% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% static '/reference/reference.css' %}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
{% endblock head %}

{% block body %}
    <div class="container">
        <div class="card">
          <div class="card-header">
              <h4 align="center">Информация о заказе</h4>
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                <h4><i>{{ object }}</i>
                </h4>
                </li>
                <li class="list-group-item">Статус: {{ object.status }}</li>
                <li class="list-group-item">Электронный адрес: {{ object.email }}</li>
                <li class="list-group-item">Адрес доставки: {{ object.delivery_address }}</li>
                <li class="list-group-item">Телефон: {{ object.phone }}</li>
                <li class="list-group-item">Дата формирования: {{ object.created_date }}</li>
                <li class="list-group-item">Дополнительная информация: {{ object.informations }}</li>
                <li class="list-group-item">
                    <a href="{% url 'orders:update-order' object.pk %}" class="btn btn-light btn-lg active" tabindex="-1" role="button" aria-disabled="true">
                        <i class="fas fa-edit"></i>
                        Редактировать
                    </a>
                    <a href="{% url 'orders:delete-order' object.pk %}" class="btn btn-light btn-lg active" tabindex="-1" role="button" aria-disabled="true" >
                        <i class="fas fa-trash-alt"></i>
                        Удалить
                    </a>
                </li>
            </ul>
          </div>
        </div>

    </div>
{% endblock body %}
