<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>магазин книг, админ портал</title>
</head>
<body>
<h1>Главная страница административного портала</h1><p>
<a href="{% url 'AuthorRefeList' %}">Список авторов</a><p>
<a href="{% url 'GenreRefList' %}">Список жанров</a><p>
<a href="{% url 'SeriesRefList' %}">Список серий</a><p>
<a href="{% url 'PublisherRefList' %}">Список издательств</a><p>
<a href="{% url 'ManufacturerRefList' %}">Список изгатовителей</a><p>
</body>
</html>