{% extends 'base/admin_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
    <link rel="stylesheet" href="{% static '/products/product.css' %}"/>
{% endblock head %}

{% block title %}
    <title>Добавление/редактирование товара</title>
{% endblock title %}

{% block body %}
    <div class="container">
    <h1>Представления для {{ ref_action }}</h1>
    {{ temp }}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <div style="padding-left: 2%">
        <button type="submit" class="btn btn-primary btn-sm">отправить</button>
        <button type="button" class="btn btn-secondary btn-sm"  onclick="history.go(-1);">Назад</button>
        </div>
    </form>
    </div>
{% endblock body %}
