{% extends 'base/admin_base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static '/reference/reference.css' %}"/>
{% endblock head %}

{% block title %}
    <title>Список товаров (книг)</title>
{% endblock title %}

{% block body %}
    <a href="{% url 'AdminShopCore' %}" class="badge badge-primary">Назад в административный портал</a><p>
    <h1>{{ descr }}</h1>
    <a href=" {{ get_create_url }} " class="badge badge-primary">Добавить</a><p>
    <table class="table table-striped">
    {% for object in object_list %}
        <tr>
            <td>{{ object.name }}</td>
            <td>{{ object.description }}</td>
            <td><a href="{% url 'products:book-prod-view' object.pk%}" class="badge badge-primary">Просмотреть</a></td>
            <td><a href="{% url 'products:book-prod-update' object.pk%}" class="badge badge-primary">Обновить</a></td>
            <td><a href="{% url 'products:book-prod-delete' object.pk%}" class="badge badge-danger">Удалить</a></td>
        </tr>
    {% endfor %}
    </table>
{% endblock body %}
