{% extends 'base/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load comments %}

{% block title %}
    <title>Информация о {{ object.name }}</title>
{% endblock title %}

{% block head %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
{% endblock head %}

{% block body %}
    <div class="container">
        <div class="card">
          <div class="card-header">
          <img class="card-img-top" src="{% if book.cover_image %}{{ book.cover_image.url }} {% endif %}" alt="Card image cap">
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                <h4><i>{{ object.name }}</i></h4>
                <p  class="card-text">{% for author in object.authors.all %}{{ author }}{% endfor %}</p>
                </li>
                {% for q, w in object.get_field.items %}
                    <li class="list-group-item"><b>{{ q }}</b>: {{ w }}</li>
                {% endfor %}
            </ul>
          </div>
          <button type="button" class="btn btn-secondary" onclick="history.go(-1);">
              <i class="fas fa-undo"></i>
              Назад
          </button>
          <br>
           <a class="btn btn-primary btn-sm active" href="{% url 'cart:add' object.pk %}">Добавить в корзину</a>
        </div>
    </div>

    {% comments object request.get_full_path %}


{% endblock body %}
