{% extends 'base/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Удаление {{ object.name }}</title>
{% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% static '/products/product.css' %}"/>
{% endblock head %}

{% block body %}
        <h1>Представление для {{ prod_action }}</h1>
        {{ temp }}<p>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            Значение <p>
            <b>{{ object.name }}<p></b>
            <button type="submit" class="btn btn-danger">удалить</button>
            <button type="button" class="btn btn-secondary" onclick="history.go(-1);">Назад</button>
        </form>
{% endblock body %}