{% extends 'base/base.html' %}
{% load static %}

{% block title %}
    <title>Статистика</title>
{% endblock title %}

{% block head %}
{% endblock head %}

{% block body %}
    <div class="container">
    <h1>Статистика</h1><p>
    <div class="card" style="max-width: 70rem;">
      <ul class="list-group list-group-flush shadow p-3 mb-6">
        <li class="list-group-item">Всего товаров в магазине: {{ product_count }}</li>
        <li class="list-group-item">Всего товаров в наличии: {{ av_product_count }}</li>
        <li class="list-group-item">Количество товаров, добавленных вчера: {{ cr_yesterday }}</li>
        <li class="list-group-item">Количество товаров, добавленных в прошлом месяце: {{ cr_last_month }}</li>
        <li class="list-group-item">Количество товаров, добавленных за текущий месяц: {{ cr_now_month }}</li>
        <li class="list-group-item">Товаров по жанрам: <br>
            {% for key, value in book_genre_count.items %}
                {% if value != 0 %}
                    {{ key }}: {{ value }}<br>
                {% endif %}
            {% endfor %}
        </li>
        <li class="list-group-item">Всего категорий (жанров): {{ genre_count }}</li>
      </ul>
    </div>
    </div>
{% endblock body %}