{% extends 'base/admin_base.html' %}
{% load static %}

{% block title %}
    <title>Домашняяя страница администратора</title>
{% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% static '/core/core.css' %}"/>
{% endblock head %}

{% block body %}
    <h1>Главная страница административного портала</h1><p>
    <div class="list-group">
        <a href="{% url 'reference:author-ref-list' %}" class="list-group-item list-group-item-action">Список авторов</a>
        <a href="{% url 'reference:genre-ref-list' %}" class="list-group-item list-group-item-action">Список жанров</a>
        <a href="{% url 'reference:series-ref-list' %}" class="list-group-item list-group-item-action">Список серий</a>
        <a href="{% url 'reference:publisher-ref-list' %}" class="list-group-item list-group-item-action">Список издательств</a>
        <a href="{% url 'reference:manufacturer-ref-list'%}" class="list-group-item list-group-item-action">Список изгатовителей</a>
    </div>
    <p>
    <div class="list-group">
        <a href="{% url 'products:book-prod-list' %}" class="list-group-item list-group-item-action">Список книг</a>
    </div>
{% endblock body %}